<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Electric Nose</title>
	</head>
	<body>
		<form action="/day-form" method="GET">
			<select name="day-select">
				<option value="Wednesday">Wednesday</option>
				<option value="Thursday">Thursday</option>
				<option value="Friday">Friday</option>
				
			</select>
			<input type="submit" value="Submit">
			
			
		</form>
		
	</body>
</html>
