<!doctype html>
<html lang="en">
	<body>
		<h3>Temperature: </h3><%=result[0].temperature%>
		<h3>Humidity:  </h3><%=result[0].humidity%>
		<h3>Air Pressure:  </h3><%=result[0].pressure%>
		<h3>Soot: </h3><%=result[0].soot%>
		
	</body>
</html>
